.App {
  text-align: center;
  color: #8DABC4;
}

h1 {
  font-weight: 400;
  font-size: 28pt;
}

h2 {
  font-size: 32pt;
}

p {
  font-size: 18pt;
  margin-top: 50px;
}

.content {
  margin: auto;
  max-width: 800px;
}

textarea {
  border:  #8DABC4 1px solid;
  border-radius: 4px;
  width: 60%;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

a.button {
  display: block;
  background-color: #4ECE3D;
  color: white;
  width: 110px;
  padding: 7.5px;
  border-radius: 4px;
  margin: 20px auto;
}